@import url('https://fonts.googleapis.com/css?family=Emilys+Candy');

* {
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family: 'Emilys Candy', cursive;
}

.main-nav {
  display:flex;
  min-height: 50px;
  background:pink;
  padding: 0 1rem;
  align-items: center;
  font-size: 1.5rem;
}

.main-nav-list {
  display:flex;
  list-style-type: none;
  margin-left:auto;

}

.main-nav {

}

.main-nav-list li {
  margin-left:1rem;
  text-align: center;
}

.main-nav a {
  text-decoration: none;   /*add*/
  color:white;

}

.main-nav a:hover{
  transform: rotate(7deg);
  /*transition: 0.9s;*/
  /*color:yellow;*/
}

.main-nav-list li a:hover{
  transform: rotate(7deg);
  /*transition: 0.9s;*/
  /*color:yellow;*/
  font-weight:bold;
}

.main-nav-list .brandList {
  text-decoration: none;   /*add*/
  color:black;
}

.hamburger {
  display:none;
}

@media (max-width: 600px){
  .main-nav{
    flex-wrap:wrap;
  }

  .hamburger {
    display: block;
    margin-left:auto;
    background:pink;
    border: none;
    width: 50px;
    height: 50px;
    position:relative;
    outline:none;
    cursor:pointer;
  }

  .hamburger div {
    height:7px;
    width: 50px;
    background-color:#000;
    border-radius: 3px;
    transform: translate(-50%,-50%);
    left: 50%;
    position:absolute;
    /*ACTIVATES ANIMATION*/
    transition: .25s;
  }

  .hamburger div:first-child {
    top: 25%;
  }

  .hamburger div:nth-child(2) {
    top:50%;
  }

  .hamburger div:nth-child(3) {
    top:75%;
  }

  .hamburger.close div:first-child {
    top:50%;
    transform:translate(-50%,-50%) rotate(45deg);
  }

  .hamburger.close div:nth-child(2){
    opacity:0;
  }

  .hamburger.close div:nth-child(3){
    top: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
  }

  .main-nav-list {
    display:block;
    width:100%;
    max-height: 0px;
    overflow:hidden;
    transition: .25s;
  }

  .main-nav-list.open{
    max-height: 500px;
  }
}/* ======closes media query========*/

.header-bg{
  background:url("../images/candy.jpeg");
  width:100%;
  height:100vh;
  background-size:cover;
  background-repeat:no-repeat;
}

.main-section{
  padding:15rem;

}
.main-section:hover{
  transform: rotate(4deg);
  transition:2s;
}

@media (max-width: 600px){
  .main-section{
    padding:4rem;
    font-size: 0.8rem;
  }
}

.btn {
  text-align: center;
  padding:2rem;
}

.btn button{
  padding:1.2rem;
  border:none;
  background:black;
  color:white;
  cursor:pointer;
  box-shadow: 1px 1px 5px black;
  outline:none;
}

.btn button:hover{
  transform: translate(-5px,-5px);
  box-shadow: 10px 10px 20px black;
}

.btn button:active{
  transform: translate(-1px,-1px);
  box-shadow: 2px 2px 2px black;

}
