* {
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family:Helvetica;
}

.main-nav {
  display:flex;
  min-height: 50px;
  background:pink;
  padding: 0 1rem;
  align-items: center;
  font-size: 1.5rem;
}

.main-nav-list {
  display:flex;
  list-style-type: none;
  margin-left:auto;
}

.main-nav-list li {
  margin-left:1rem;
  text-align: center;
}

.main-nav a {
  text-decoration: none;   /*add*/
  color:black;
}

.main-nav-list .brandList {
  text-decoration: none;   /*add*/
  color:black;
}

.hamburger {
  display:none;
}

@media (max-width: 600px){
  .main-nav{
    flex-wrap:wrap;
  }

  .hamburger {
    display: block;
    margin-left:auto;
    background:pink;
    border: none;
    width: 50px;
    height: 50px;
    position:relative;
    outline:none;
    cursor:pointer;
  }

  .hamburger div {
    height:7px;
    width: 50px;
    background-color:#000;
    border-radius: 3px;
    transform: translate(-50%,-50%);
    left: 50%;
    position:absolute;
    /*ACTIVATES ANIMATION*/
    transition: .25s;
  }

  .hamburger div:first-child {
    top: 25%;
  }

  .hamburger div:nth-child(2) {
    top:50%;
  }

  .hamburger div:nth-child(3) {
    top:75%;
  }

  .hamburger.close div:first-child {
    top:50%;
    transform:translate(-50%,-50%) rotate(45deg);
  }

  .hamburger.close div:nth-child(2){
    opacity:0;
  }

  .hamburger.close div:nth-child(3){
    top: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
  }

  .main-nav-list {
    display:block;
    width:100%;
    max-height: 0px;
    overflow:hidden;
    transition: .25s;
  }

  .main-nav-list.open{
    max-height: 500px;
  }
}/* ======closes media query========*/
